$dark: white;

// Colors
$primaryColor: #000000;
$secundaryColor: #4A4A4A;
$white: #ffffff;
$gray: #eee;

// Fonts & weight

$fontPrimary: 'HelveticaNeue';
$fontSecundary: 'HelveticaNeuBold';

$fontWeight: normal;
$fontWeightBold: bold;

// size

$bigFontSize: 35px;
$mediumFontSize: 18px;
$smallFontSize: 16px;
$extraSmallFontSize: 13px;

// highline

$bodyWitdh: 1024px;